html {

  body {
    background-color: #f4f4f4;
  }

  .hero-subscribe-layout #hero {
    background-color: #303234;
    background-blend-mode: soft-light;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
}

body,
p,
h1, h2, h3, h4, h5
{
  font-family: "Lato", "ff-tisa-web-pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.main_logo_c {
  min-width: 125px;
  max-width: 200px;
  width: 20vw;
  display: inline-block;
}

.header-clone .logo img {
    top: -5px;
    bottom: 0;
    width: auto;
    margin: auto;
    height: 90%;
    display: inline-block;
}

@media (max-width: 738px) {
  #hero .container {
      height: inherit;
  }
}

.hero-content h1 {
  text-shadow: 0 2px 30px rgba(125,116,107,.75);
}


.hero-subscribe-layout #hero,
.creative-layout #hero,
.event-layout #hero {
  /* background: url(../images/positives-fuehren.jpg) center center no-repeat; */
  /* background: url(https://corporatehappiness.s3.eu-central-1.amazonaws.com/positives-fuehren-de/images/positives-fuehren-de-img-resize.jpg) center center no-repeat; */
  // background: url(https://corporatehappiness.s3.eu-central-1.amazonaws.com/positives-fuehren-de/images/banner/los-gehts.jpg) center center no-repeat;
  // background: url(https://corporatehappiness.s3.eu-central-1.amazonaws.com/positives-fuehren-de/images/banner/change-your-mindset.jpg) center center no-repeat;
  // background: url(https://corporatehappiness.s3.eu-central-1.amazonaws.com/positives-fuehren-de/images/banner/change-your-mindset-crp.jpg) center center no-repeat;
  background: url(https://corporatehappiness.s3.eu-central-1.amazonaws.com/positives-fuehren-de/images/banner/change-your-mindset-mvd.jpg) center center no-repeat;
}


.price .price-feature,
.best-value-label {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-flow: column;
}

.price .price-feature {
  min-height: 250px;
}
.best-value-label {
  min-height: 50px;
}


@media screen and (min-width: 1200px) {
  .container.big {
      width: 90%;
      max-width: 1400px;
  }
}





//

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    .row.equal {
      display: flex;
      flex-wrap: wrap;
    }
  }


.cohapersons {

    .person {
        &.wrapper {
            &.outer {
                padding: 10px;
            }
            &.inner {
                text-align: center;
            }
        }
    }

    .quote {
        font-size: 23px;
        font-weight: 700;
        line-height: 1.25;
        font-style: italic;
        padding: 15px 5px;
        color: #646464;
        max-width: 350px;
        margin: auto;
        // min-height: 250px;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        span {

            position: relative;

            &:after,
            &:before {
                position: absolute;
            }

            &:after {
                content: "\AB";
                right: -12px;
                bottom: 3px;
            }
            &:before {
                content: "\BB";
                right: 101%;
                top: 2px;
            }
        }
    }

    img.avatar {
        transition: 300ms;
        border-radius: 100%;
        max-width: 250px;
        width: 100%;
    }

    &:hover {
        & > div {
            transition: 200ms;
            &:hover {
                img.avatar {
                    transform: scale(1.05);
                }
            }
            &:not(:hover) {
                opacity: .85;
                img.avatar {
                    filter: saturate(0.5);
                }
            }
        }
    }
}

.section-title {
  font-size: 23px;
  letter-spacing: .1em;
  margin-top: 50px;
  line-height: 1.75;
}

.cta-default,
.cta-stroke {
  &:after {
    display: inline-block;
  }
}

.section_header {
  font-size: 25px;
  font-size: calc(20px + 1.25vw);
  text-align: left;
  padding: 0 0px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: black;
  font-weight: 900;
  position: absolute;
  left: 5px;
  line-height: 1;
  top: 0;
  transform: translateY(-70%);
  background: #fff;
  background: #fbfbfb;
}


.section_outer {
  position: relative;
  background: #fbfbfb;
  padding-right: 3vw;
  padding-left: 3vw;

    &.white {
        background: #fff;
    }

    &.grey {
        background: #fbfbfb;
    }
}

.section_inner {
  background: #fff;
  border: 1px solid black;
  padding: 25px 0;
  position: relative;
  max-width: 1500px;
  margin: auto;
}


main#main-content {
  box-shadow: 0;
  box-shadow: unset;
}

@media (min-width: 1600px) {
  .section_outer {
    padding-left: 25px;
    padding-right: 25px;
  }
  .section_header {
      font-size: 33px;
  }
}

@media (max-width: 450px) { 
  .section_header {
      width: 100%;
      transform: translateY(-125%);
      text-align: center;
  }
}
